server {
    listen 39602;

    location / {
        proxy_pass ${BACKEND_SERVER};
        proxy_set_header Host ${HOST_HEADER};

        # Enable response modification
        sub_filter '</head>' '<script>${JS_INJECT_CODE}</script></head>';
        sub_filter_once on;
        sub_filter_types text/html;
    }
}
